#filename: .gitignore

node_modules
## package.json & package-lock.json under remote-assignments folder
/package.json
/package-lock.json

.eslintignore
.eslintrc.json

# .env: not committed, with security information
/Week-4/Assignment-3/config/.env
/Week-4/Assignment-3/archive