/**/
* {
	font-family: Georgia, Sans-serif;
	margin: 0;
}

.main-header,
.main-nav {
	display: flex;  
}

.main-nav {
	list-style-type: none;

}

.main-header {
	flex-direction: row;
	justify-content: space-between;
}

.main-header {
	background-color: #E6E6E6;
}

.logo {
	padding: 0px 30px 0px 30px;
}

.itemattr {
	padding: 0px 30px 0px 30px;
	
}

.grandparent, .parent {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.child {
	
	padding: 10px 170px 90px 170px;
	margin: 10px;
	border: 10px;
	
	background-color: #708090;
}


#welcome {
	background-color: lightblue;
	text-align: center;
	padding: 40px;
	margin: 0px;

}

#sectit {
	text-align: center;
}

.buttondiv {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 0px 10px 0px;
}
.button {
	background-color: lightblue;
	border: none;
	padding: 10px 15px;
}
/*
@media screen and (min-width: 1200px) {
  .parent {
    width: 1200px;
  }
}
*/
