/**/
* {
	font-family: Georgia, Sans-serif;
	margin: 0;
}

.main-header,
.main-nav {
	display: flex;  
	flex-wrap: wrap;
}

.main-header {
	flex-direction: row;
	justify-content: space-between;
}

.main-header {
	background-color: #E6E6E6;
}

.main-logo {
	display: inline-flex;
	align-items: flex-start;
}

.imgbox {
	height: 22px;
	width: 22px;
	position: relative;
}

.logoimg {
	max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;	
}

.logo {
	padding: 5px 7px 5px 30px;
}

.main-nav {
	list-style-type: none;

}

.itemattr {
	padding: 5px 30px;
	
}

.grandparent, .parent {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: center;
	gap: 1%;
}

.child {
	background-color: #708090;
	padding: 1% 15% 8% 15%;
	margin: 1%;
	/*
	padding: 10px 170px 90px 170px;
	margin: 10px;
	border: 10px;
	
	*/
}


#welcome {
	background-color: lightblue;
	text-align: center;
	padding: 40px;
}

.sectit {
	text-align: center;
	margin: 1%;
}

.buttondiv {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 0px 10px 0px;
}
.button {
	background-color: lightblue;
	border: none;
	padding: 10px 15px;
}

@media screen and (min-width: 1200px) {
	.parent {
		width: 1200px;
	}
}

